/.DS_Store
/.idea
/.git
/.github
/.gitignore
/.env
/auth.json
/default.vcl
/docker-compose.yml
/Dockerfile
/icon.svg
/README.md
/src/app/etc/env.php
/src/dev
/src/generated
/src/phpserver
/src/node_modules
/src/pub/static
/src/var
/src/vendor
/src/.editorconfig
