/.DS_Store
/.idea
/.git
/.github
/.gitignore
/.env
/docker-compose.yml
/Dockerfile
/icon.svg
/README.md
/src/app/etc/env.php
/src/generated
/src/phpserver
/src/node_modules
/src/pub/static
/src/var
/src/vendor
/src/.editorconfig
/src/.env
/src/.htaccess.sample
/src/.php-cs-fixer.dist.php
/src/.user.ini
/src/auth.json.sample
/src/CHANGELOG.md
/src/COPYING.txt
/src/default.vcl
/src/grunt-config.json.sample
/src/Gruntfile.js.sample
/src/LICENSE.txt
/src/LICENSE_AFL.txt
/src/nginx.conf.sample
/src/package.json.sample
/src/SECURITY.md
