/.idea
/.git
/.github
/.gitignore
/.env
/docker-compose.yml
/Dockerfile
/icon.svg
/README.md
/srv/.env.*
/src/phpunit.xml.dist
/srv/bin/phpunit
/src/public/bundles
/src/public/build
/src/node_modules
/src/tests
/src/var
/src/vendor
