/.idea
/.git
/.composer
/.github
/.yarn
/.gitignore
/build.xml
/build.properties
/.env
/docker-compose.yml
/Dockerfile
/icon.svg
/README.md
/src/phpunit.xml.dist
/src/.env.*
/src/bin/phpunit
/src/public/bundles
/src/public/build
/src/node_modules
/src/tests
/src/var
/src/vendor
